---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Lorem ipsum dolor sit amet?</h1>
	<h2>Lorem ipsum dolor sit amet</h2>
	<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde omnis ipsa voluptatum voluptatem, pariatur veniam?</h2>

	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam quis exercitationem commodi totam repudiandae, aliquid repellendus laudantium magnam veritatis doloremque reprehenderit nobis? Deleniti ipsa unde, vero voluptate ipsam tempore.</p>

	<p class="body-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam quis exercitationem commodi totam repudiandae, aliquid repellendus laudantium magnam veritatis doloremque reprehenderit nobis? Deleniti ipsa unde, vero voluptate ipsam tempore.
	</p>

	
</Layout>
